@font-face {
    font-family: Fira Code;
    src: url("./FiraCode-Regular.ttf");
  }

body {
    font-family: 'Fira Code', 'Source Code Pro', Consolas, Monaco, Menlo, monospace;
    margin: 0;
    padding: 0;
    background-color: rgb(48, 43, 40);
    color: rgb(224, 224, 224);
    height: 100vh;
}

a { color: #a1cdff; text-decoration: none; }
a:visited { color: #bd6bff; }

/* Index */

body.index {
    display: flex;
    flex-direction: column;
}

body.index > main {
    flex-grow: 1;
}

header {
    border-bottom: 1px solid #000;  
    background-color: rgb(27, 27, 27);

    text-align: center;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.788);

    padding-top: 10px;
    padding-bottom: 1px;
}

header > h1 {
    margin: 0;
    font-size: 3em;
}

header > h2 {
    margin: 0;
    font-size: 1.5em;
}

footer {
    border-top: 1px solid #000;
    background-color: rgb(27, 27, 27);
}

footer > p {
    margin: 5px;
    font-size: 0.8em;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.header-nav > div {
    padding: 0px 10px;
    cursor: pointer;
}

.header-nav > div:hover {
    background-color: rgb(36, 38, 56);
}

.header-nav > div > a {
    text-decoration: none;
    color: rgb(224, 224, 224);
    user-select: none;
}

#introduction {
    max-width: 600px;
    margin: 20px auto;
    line-height: 30px;
}

#gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    max-width: 1050px;
    margin: 20px auto;
    flex-wrap: wrap;
}

.gallery-item {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(30, 30, 30);
    background-size: 500px 500px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-position: center;
}

.gallery-item-hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.gallery-item.no-content {
    cursor: default;
}

.gallery-item > div > a {
    width: 500px;
    height: 500px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

code {
    background-color: rgb(25, 25, 25);
}

/* Code */

.hljs {
    border: 1px solid rgb(30 30 30);
}

.hljs-keyword {
    color: rgb(203, 120, 50);
}

.hljs-comment {
    color: rgb(127, 127, 127);
}

.hljs-built_in, .hljs-title {
    color: rgb(224, 196, 108);
}

/* Articles */

.article h2 {
    color: rgb(255, 255, 255);
}

.article-h {
    margin: 30px 0px;
    text-align: center;
}

body.article {
    display: grid;
    grid-template-rows: [header] 70px [main] max(300px, calc(100vh - 100px)) [footer] 30px;
    grid-template-columns: [article] 55% [canvas] 45%;
    overflow: hidden;
}

body.article.focus {
    grid-template-columns: [article] 100% [canvas] 0px;
}

body.article > header {
    grid-row-start: header;
    grid-column-start: article;
    grid-column-end: -1;
}

body.article > main {
    grid-row-start: main;
    grid-column-start: article;
    grid-column-end: canvas;
    overflow-y: auto;
    border-right: 2px solid #111;
}

body.article > main > #content {
    height: 100%;
    line-height: 1.7em;
    padding: 0 20px;
    max-width: 1000px;
    margin: auto;
}

body.article > footer {
    grid-row-start: footer;
    grid-column-start: article;
    grid-column-end: -1;
}

body.article > #demo {
    grid-column-start: canvas;
    grid-column-end: -1;
    grid-row-start: main;
    grid-row-end: footer;
}

.article-h > a {
    text-decoration: none;
    color: inherit
}

.image-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-holder > img {
    max-width: 100vw;
}

@media (max-width: 1300px) {
    body.article {
        grid-template-columns: [article] 100% [canvas] 0px;
    }

    body.article > #demo {
        width: 0px;
        height: 0px;
    }

    body.article.focus {
        grid-template-columns: [article] 0px [canvas] 100%;
    }

    body.article.focus > #demo {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 500px) {
    .gallery-item {
        max-width: 100vw;
        height: 300px;
    }

    .gallery-item > div > a {
        max-width: 100vw;
        height: 300px;
    }

    #introduction {
        margin: 20px 20px;
        line-height: 30px;
    }
}
