@font-face {
    font-family: Fira Code;
    src: url("./FiraCode-Regular.ttf");
  }

body {
    font-family: 'Fira Code', 'Source Code Pro', Consolas, Monaco, Menlo, monospace;
    margin: 0;
    padding: 0;
    background-color: rgb(48, 43, 40);
    color: rgb(224, 224, 224);
    height: 100vh;
    font-size: 1em;
}

a { color: #a1cdff; text-decoration: none; }
a:visited { color: #bd6bff; }

/* Index */

body.index {
    display: flex;
    flex-direction: column;
}

body.index > main {
    flex-grow: 1;
}

header {
    border-bottom: 1px solid #000;  
    background-color: rgb(27, 27, 27);

    text-align: center;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.788);

    padding-top: 10px;
    padding-bottom: 1px;
}

header > h1 {
    margin: 0;
    font-size: 3em;
}

header > h2 {
    margin: 0;
    font-size: 1.5em;
}

footer {
    border-top: 1px solid #000;
    background-color: rgb(27, 27, 27);
}

footer > p {
    margin: 5px;
    font-size: 0.8em;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.header-nav > div {
    padding: 0px 10px;
    cursor: pointer;
}

.header-nav > div:hover {
    background-color: rgb(36, 38, 56);
}

.header-nav > div > a {
    text-decoration: none;
    color: rgb(224, 224, 224);
    user-select: none;
}

#introduction {
    max-width: 600px;
    margin: 20px auto;
    line-height: 30px;
}

#gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    max-width: 1050px;
    margin: 20px auto;
    flex-wrap: wrap;
}

.gallery-item {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(30, 30, 30);
    background-size: 500px 500px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-position: center;
}

.gallery-item-hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.gallery-item.no-content {
    cursor: default;
}

.gallery-item > div > a {
    width: 500px;
    height: 500px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Articles */

.article > header > h2 {
    text-wrap-mode: nowrap;
}

.article h2 {
    color: rgb(255, 255, 255);
}

.article-h {
    margin: 30px 0px;
    text-align: center;
}

body.article {
    display: grid;
    grid-template-rows: [header] min-content [main] max(300px, calc(100vh - 100px)) [footer] 30px;
    grid-template-columns: [article] 55% [canvas] 45%;
    overflow: hidden;
}

body.article.focus-article {
    grid-template-columns: [article] 100% [canvas] 0px;
}

body.article.focus-demo {
    grid-template-columns: [article] 0px [canvas] 100%;
}

.quote {
    padding: 5px;
    background-color: rgb(37, 33, 30);
}

body.article > header {
    grid-row-start: header;
    grid-column-start: article;
    grid-column-end: -1;
}

body.article > main {
    grid-row-start: main;
    grid-column-start: article;
    grid-column-end: canvas;
    overflow-y: auto;
    border-right: 2px solid #111;
}

body.article > main > #content {
    height: 100%;
    line-height: 1.7em;
    padding: 0 20px;
    max-width: 1000px;
    margin: auto;
}

body.article .sub-article-header {
    margin-top: 30px;
    color: #FFF;
}

body.article > footer {
    grid-row-start: footer;
    grid-column-start: article;
    grid-column-end: -1;
}

.article-h > a {
    text-decoration: none;
    color: inherit
}

.image-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-holder > img {
    max-width: 100vw;
}

/* Demo */

#demo {
    grid-column-start: canvas;
    grid-column-end: -1;
    grid-row-start: main;
    grid-row-end: footer;

    display: grid;
    grid-template-rows: [header] 0px [main] calc(100% - 30px);
    grid-template-columns: [main] 100% [extra] 300px;

    overflow: hidden;
}

#demo.show-tabs {
    grid-template-rows: [header] 30px [main] calc(100% - 30px);
}

#demoheader {
    grid-row-start: header;
    grid-row-end: main;
    grid-column-start: 0;
    grid-column-end: 0;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
}

#demo.show-tabs > #demoheader {
    border-bottom: #000 1px solid;
    background-color: rgb(48, 43, 40);
}


.demoheader-item {
    display: flex;
    flex-direction: row;
    gap: 5px;

    border-right: 1px #000 solid;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
    user-select: none;
}

.demoheader-item.active, .demoheader-item:hover {
    background-color: rgb(68, 52, 42);
}

#canvas {
    grid-row-start: main;
    grid-row-end: -1;
    grid-column-start: 0;
    grid-column-end: 0;
}

#codeview {
    grid-row-start: main;
    grid-row-end: -1;
    grid-column-start: main;
    grid-column-end: -1;
}

#demo.show-demo > #codeview {
    display: none;
}

#demo.show-code > #canvas {
    display: none;
}

/* Code View */

#codeview {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    background-color: #23241f;
}

#codeview > pre {
    margin: 0;
    padding: 0;
}

code {
    background-color: rgb(29, 26, 24);
    color: #FFF;
    font-size: 16px;
}

span.code-link {
    cursor: pointer;
    white-space: nowrap;
    color: #a1cdff;
}

span.code-link-icon {
    display: inline-block;
    background-image: url("./code.svg");
    width: 16px;
    height: 16px;
}

#codeview .hljs {
    overflow-x: hidden !important;
    width: 120%;
}


pre code.hljs {
    margin: 0;
    padding: 8px;
}

/* Chrome scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #BDBDBD;
  width: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6E6E6E;
}

